@using FreeMarket.Models
@model WelcomeViewModel

@{
    ViewBag.Title = "Locarno Sun Dried Fruit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div>
        <div>
            <div class="row">
                <h1 class="text-center">Locarno Sun Dried Fruit & Nuts</h1>
                <hr />
            </div>
            <div class="row">
                @Html.Partial("_ProductCarousel")
            </div>
            <div class="row well text-center">

                @Html.Raw(Model.WelcomeText)
                <div>Feel free to @Html.ActionLink("Contact", "Contact", "Home", new { @class = "freemarket-link" }) us if you don’t find what you are looking for.</div>
            </div>
            <div class="row well-payment text-center">

                Accepted payment methods (EFT, Credit Card & More)
                @Html.Partial("_PaymentOptions")

            </div>
            
            <div class="row">
                &nbsp;
            </div>

        </div>
    </div>
</div>

@Html.Action("Departments", "Product")

@Html.Action("MostPopularProducts", "Product")

<div class="row well text-center">
    Can't find what you're looking for? Click @Html.ActionLink("here", "AllProductsIndex", "Product") to browse our full product range.
</div>

<script type="text/javascript">

$(document).ready(function(){

     $("#myCarousel").carousel({

         interval : 5000

     });

});

$(document).ready(function()
{
    if (navigator.appName == "Opera")
    {
        $('#EditModal').removeClass('fade');
    }
});

</script>