@using FreeMarket.Models
@model Support

<div class="form-group">
    @Html.LabelFor(m => m.Landline, new { @class = "col-md-4 control-label" })
    <div class="col-md-6">
        @Html.TextBoxFor(m => m.Landline, new { @class = "form-control" })
        @Html.HiddenFor(m => m.SupportID)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Cellphone, new { @class = "col-md-4 control-label" })
    <div class="col-md-6">
        @Html.TextBoxFor(m => m.Cellphone, new { @class = "form-control" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.OrdersEmail, new { @class = "col-md-4 control-label" })
    <div class="col-md-6">
        @Html.TextBoxFor(m => m.OrdersEmail, new { @class = "form-control" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Email, new { @class = "col-md-4 control-label" })
    <div class="col-md-6">
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.MainContactName, new { @class = "col-md-4 control-label" })
    <div class="col-md-6">
        @Html.TextBoxFor(m => m.MainContactName, new { @class = "form-control" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.StreetAddress, new { @class = "col-md-4 control-label" })
    <div class="col-md-6">
        @Html.TextBoxFor(m => m.StreetAddress, new { @class = "form-control" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Province, new { @class = "col-md-4 control-label" })
    <div class="col-md-6">
        @Html.TextBoxFor(m => m.Province, new { @class = "form-control" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.PostalCode, new { @class = "col-md-4 control-label" })
    <div class="col-md-6">
        @Html.TextBoxFor(m => m.PostalCode, new { @class = "form-control" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.TownName, new { @class = "col-md-4 control-label" })
    <div class="col-md-6">
        @Html.TextBoxFor(m => m.TownName, new { @class = "form-control" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Latitude, new { @class = "col-md-4 control-label" })
    <div class="col-md-6">
        @Html.TextBoxFor(m => m.Latitude, new { @class = "form-control" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Longitude, new { @class = "col-md-4 control-label" })
    <div class="col-md-6">
        @Html.TextBoxFor(m => m.Longitude, new { @class = "form-control" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.StoreName, new { @class = "col-md-4 control-label" })
    <div class="col-md-6">
        @Html.TextBoxFor(m => m.StoreName, new { @class = "form-control" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.DefaultZoomLevel, new { @class = "col-md-4 control-label" })
    <div class="col-md-6">
        @Html.TextBoxFor(m => m.DefaultZoomLevel, new { @class = "form-control" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Fax, new { @class = "col-md-4 control-label" })
    <div class="col-md-6">
        @Html.TextBoxFor(m => m.Fax, new { @class = "form-control" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.ManagingEmail1, new { @class = "col-md-4 control-label" })
    <div class="col-md-6">
        @Html.TextBoxFor(m => m.ManagingEmail1, new { @class = "form-control" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.ManagingEmail2, new { @class = "col-md-4 control-label" })
    <div class="col-md-6">
        @Html.TextBoxFor(m => m.ManagingEmail2, new { @class = "form-control" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.AccountsEmail, new { @class = "col-md-4 control-label" })
    <div class="col-md-6">
        @Html.TextBoxFor(m => m.AccountsEmail, new { @class = "form-control" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Manager1, new { @class = "col-md-4 control-label" })
    <div class="col-md-6">
        @Html.TextBoxFor(m => m.Manager1, new { @class = "form-control" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Manager2, new { @class = "col-md-4 control-label" })
    <div class="col-md-6">
        @Html.TextBoxFor(m => m.Manager2, new { @class = "form-control" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.AccountsPerson, new { @class = "col-md-4 control-label" })
    <div class="col-md-6">
        @Html.TextBoxFor(m => m.AccountsPerson, new { @class = "form-control" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.PhysicalAddress, new { @class = "col-md-4 control-label" })
    <div class="col-md-6">
        @Html.TextAreaFor(m => m.PhysicalAddress, new { @class = "form-control" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.PostalAddress, new { @class = "col-md-4 control-label" })
    <div class="col-md-6">
        @Html.TextAreaFor(m => m.PostalAddress, new { @class = "form-control" })
    </div>
</div>