@using FreeMarket.Models
@model List<ProductCustodian>
@{
    ViewBag.Title = "Stock";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2 class="text-center"><span class="glyphicon glyphicon-edit text-success"></span>&nbsp;Stock</h2>
<hr />

@using (Html.BeginForm("EditInStock", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    if (Model.Count > 0)
    {
        <table class="table table-bordered-custom table-responsive">

            <tr>
                @*<th class="col-sm-1">Image</th>*@
                <th class="col-sm-1">Product</th>
                <th class="col-sm-1">In Stock</th>
            </tr>

        @for (int i = 0; i < Model.Count; i++)
        {
            <tr class="well">
                @*<td class="text-center">
                    <img width="256" height="192" class="img-thumbnail" src="@Url.Action("RenderImage", "Image", new { id = Model[i].MainImageNumber})" alt="@Model[i].ProductName" title="@Model[i].ProductName" />
                </td>*@
                <td class="text-center">
                    @Model[i].ProductName
                    @Html.HiddenFor(c => Model[i].ProductNumber)
                    @Html.HiddenFor(c => Model[i].SupplierNumber)
                </td>
                <td class="text-center">
                    @Html.EditorFor(c => Model[i].InStock)
                </td>
            </tr>
        }
            
        </table>

        <div class="text-center">
            <input type="submit" value="Save/Update" class="btn btn-primary" />
            @Html.ActionLink("Back", "Index", "Admin", new { @class = "btn btn-success" })
        </div>
    }
}





