@using FreeMarket.Models
@model Support
@{
    ViewBag.Title = "Edit Support";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2 class="text-center"><span class="glyphicon glyphicon-edit text-success"></span>&nbsp;Edit Support</h2>
<hr />

<div id="parentSupport" class="container well well-modal center_div">

    @if (Model != null)
    {
        using (Html.BeginForm("EditSupportProcess", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "supportForm" }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div>
                @Html.Partial("_SupportPartial", Model)

                <hr />

                <div class="form-group">
                    <div class="text-center">
                        <input type="submit" class="btn btn-primary" value="Save" />
                        @Html.ActionLink("Back", "Index", "Admin", new { @class = "btn btn-success" })
                    </div>
                </div>
            </div>
        }
    }

</div>

<script type="text/javascript">

(function ($) {
        var $window = $(window),
            $html = $('#parentSupport');

        function resize() {
            if ($window.width() > 600) {
                return $html.addClass('center_div');
            }

            $html.removeClass('center_div');
        }

        $window
            .resize(resize)
            .trigger('resize');
})(jQuery);

</script>

@Html.Partial("_ValidateSupportPartial", Model)