@using FreeMarket.Models
@model ConfirmOrderViewModel

@{
    ViewBag.Title = "Secure Checkout - Confirm Items";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container text-center">
    <br />
    <h2 class="text-center"><span class="glyphicon glyphicon-lock"></span>@ViewBag.Title</h2>
    <hr />

    <div class="row well well-modal">
        <table class="table table-bordered-custom table-responsive">
            <tr>
                <td colspan="2">
                    <span style="font-size:x-large">Customer Details</span>
                </td>
            </tr>
            <tr>
                <td rowspan="2">
                    Customer: @Model.Cart.Order.CustomerName
                </td>
                <td>
                    <span class="glyphicon glyphicon-pencil"></span>&nbsp;@Model.Cart.Order.CustomerEmail
                </td>
            </tr>
            <tr>
                <td>
                    <span class="glyphicon glyphicon-phone"></span>&nbsp;@Model.Cart.Order.CustomerPrimaryContactPhone
                </td>
            </tr>
            <tr>
                @if (Model.Cart.Order.DeliveryType == "Courier" || Model.Cart.Order.DeliveryType == "LocalCourier")
                {
                    <th>Delivery Address&nbsp; </th>
                }
                else if (Model.Cart.Order.DeliveryType == "PostOffice")
                {
                    <th>Delivery Address - Collect at Post Office &nbsp; </th>
                }

                <td>
                    <span class="glyphicon glyphicon-home"></span>&nbsp;<span style="white-space :pre-line" aria-hidden="true">@Model.Cart.Order.DeliveryAddress</span>
                </td>
            </tr>
        </table>

        @*@Html.Partial("_ConfirmDeliveryPartial", Model)*@

        <table class="table table-bordered-custom table-responsive">
            <tr>
                <td colspan="2">
                    <span style="font-size:x-large">Order Information</span>
                </td>
            </tr>
            <tr>
                <th>
                    Order Number
                </th>
                <td data-label="Order:">
                    @Html.DisplayFor(c => Model.Cart.Order.OrderNumber)
                </td>
            </tr>
            <tr>
                @if (Model.Cart.Order.DeliveryType == "Courier" || Model.Cart.Order.DeliveryType == "LocalCourier")
                {
                    <th>
                        Preferred Delivery Date
                    </th>
                    <td>
                        @string.Format("{0:f}", Model.Cart.Order.DeliveryDate)
                    </td>
                }
                else if (Model.Cart.Order.DeliveryType == "PostOffice")
                {
                    <th>
                        Date of dispatch
                    </th>
                    <td>
                        @string.Format("{0:f}", Model.MinDispatchDate)
                    </td>
                }
            </tr>

        </table>
        <table class="table table-bordered-totals well well-banner">
            <tr>
                <td colspan="2">
                    <span style="font-size:x-large">Cost Summary</span>
                </td>
            </tr>
            <tr>
                <td class="col-sm-2 text-center"><strong>Sub-Total:</strong></td>
                <td class="col-sm-2 text-center"><strong>@string.Format("{0:C}", Model.Cart.Order.SubTotal)</strong></td>
            </tr>
            <tr>
                <td class="col-sm-2 text-center"><strong>Shipping:</strong></td>
                <td class="col-sm-2 text-center"><strong>@string.Format("{0:C}", Model.Cart.Order.ShippingTotal)</strong></td>
            </tr>
            <tr>
                <td class="col-sm-2 text-center"><strong>VAT @@ 14%:</strong></td>
                <td class="col-sm-2 text-center"><strong>@string.Format("{0:C}", Model.Cart.Order.TaxTotal)</strong></td>
            </tr>
            <tr>
                <td class="col-sm-2 text-center"><strong style="font-size: 24px">Total:</strong></td>
                <td class="col-sm-2 text-center"><strong style="font-size: 24px">@string.Format("{0:C}", Model.Cart.Order.TotalOrderValue)</strong></td>
            </tr>
        </table>
    </div>
    <div class="row">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-6 well-payment">
            <div class="form-group">
                You have accepted our terms and conditions
                <div class="col-md-3">
                    @Html.EditorFor(m => m.TermsAndConditions, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                </div>
            </div>
            @using (Html.BeginForm(null, null, FormMethod.Post, new { @action = "https://secure.paygate.co.za/payweb3/process.trans" }))
            {
                <div>
                    @Html.Hidden("PAY_REQUEST_ID", Model.Pay_Request_Id)
                    @Html.Hidden("CHECKSUM", Model.Checksum)
                    <input type="submit" value="Pay Securely With Pay Gate" class="btn btn-success" disabled="disabled" />
                    @Html.Partial("_PaymentOptions")
                </div>
            }
        </div>
        <div class="col-sm-3">
        </div>
    </div>
</div>

@Html.Partial("_TermsAndConditionsContainer")

<script type="text/javascript">
    $(document).ready(function () {
        if (navigator.appName == "Opera") {
            $('#EditModal').removeClass('fade');
        }
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

