@using FreeMarket.Models
@model ViewProductViewModel

@using (Html.BeginForm("AddToCart", "ShoppingCart", FormMethod.Post, new { @id = "editForm" }))
{
    @Html.AntiForgeryToken()

        <div id="parent" class="form-horizontal well well-modal center_div">
            <hr />

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <table class="table table-bordered-custom table-responsive">
                <tr>
                    <th class="col-sm-6 text-center">Image</th>
                    <th class="col-sm-6 text-center">Description</th>
                </tr>
                <tr>
                    <td rowspan="4">
                        @if (Model.ProductInstance.AdditionalImageNumber != 0)
                        {

                            <div id="myCarousel" class="carousel slide" data-interval="false" data-ride="carousel">
                                <!-- Carousel indicators -->
                                @*<ol class="carousel-indicators">
                                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#myCarousel" data-slide-to="1"></li>
                            </ol>*@

                                <!-- Wrapper for carousel items -->
                                <div class="carousel-inner">
                                    <div class="item active">
                                        <div class="wrapper"><img class="img-thumbnail img-responsive magnify" src="@Url.Action("RenderImage", "Image", new { id = Model.ProductInstance.MainImageNumber })" alt="@Model.ProductInstance.Description" title="@Model.ProductInstance.Description" /><img class="magnify-icon" src="~/Content/Images/icon.png" /></div>
                                    </div>
                                    <div class="item">
                                        <div class="wrapper"><img class="img-thumbnail img-responsive magnify" src="@Url.Action("RenderImage", "Image", new { id = Model.ProductInstance.AdditionalImageNumber })" alt="@Model.ProductInstance.Description" title="@Model.ProductInstance.Description" /><img class="magnify-icon" src="~/Content/Images/icon.png" /></div>
                                    </div>
                                </div>

                                <!-- Carousel controls -->
                                <a class="carousel-control left" href="#myCarousel" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                </a>
                                <a class="carousel-control right" href="#myCarousel" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </a>
                            </div>
                        }
                        else
                        {
                            <div class="wrapper"><img class="img-thumbnail img-responsive magnify" src="@Url.Action("RenderImage", "Image", new { id = Model.ProductInstance.MainImageNumber })" alt="@Model.ProductInstance.Description" title="@Model.ProductInstance.Description" /><img class="magnify-icon" src="~/Content/Images/icon.png" /></div>
                        }
                    </td>
                    <td>@Html.DropDownListFor(model => model.SelectedPackageType, Model.ProductSizes, new { @class = "form-control" })</td>
                </tr>
                <tr>
                    <td id="PackageDetailsContainer">
                        @*<div style="font-size:medium; font-weight:600;" class="text-center">@String.Format("{0:C}", Model.ProductInstance.PricePerUnit)</div>*@
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @style = "width:125px", @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Quantity)
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="CourierContainer">

                            @Html.Partial("_CourierData", Model)

                        </div>
                    </td>
                </tr>
            </table>



            <div>
                <i>@Model.ProductInstance.LongDescription</i>
            </div>

            <br />

            <div>
                <strong>Average Rating:</strong>
                @Html.Action("GetAverageRating", "Product", new { productNumber = Model.ProductNumber, supplierNumber = Model.SupplierNumber }) / 3
            </div>

            <div id="ReviewsContainer">
                <table class="table table-responsive">
                    @if (Model.Reviews != null && Model.Reviews.Reviews.Count > 0)
                    {
                        foreach (ProductReview review in Model.Reviews.Reviews)
                        {
                            string formattedDate = review.Date.HasValue
                                    ? review.Date.Value.ToLongDateString()
                                    : "<not available>";
                            <tr>
                                <td><strong>On @formattedDate&nbsp;<span class="text-info">@review.Author</span> wrote:</strong></td>
                            </tr>
                            <tr>
                                <td class="text-center"><label class="control-label">Quality:&nbsp;</label>@review.StarRating / 3</td>
                            </tr>
                            <tr>
                                <td class="text-center"><label class="control-label">Price:&nbsp;</label>@review.PriceRating / 3</td>
                            </tr>
                            <tr>
                                <td style="white-space :pre-line" class="text-right">@review.ReviewContent</td>
                            </tr>
                        }
                    }
                </table>
            </div>

            <div>
                @Html.HiddenFor(model => Model.ProductNumber)
                @Html.HiddenFor(model => Model.SupplierNumber)
                @Html.HiddenFor(model => Model.CustodianQuantityOnHand)
                @Html.HiddenFor(model => Model.CustodianNumber)
            </div>

            <div>
                <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true">Add to Cart</span></button>
            </div>
        </div>
}